<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suixiang.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.suixiang.pojo.Comment" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="fCommentId" property="fcommentid" jdbcType="VARCHAR" />
    <result column="toUserId" property="touserid" jdbcType="VARCHAR" />
    <result column="visionId" property="visionid" jdbcType="VARCHAR" />
    <result column="fromUserId" property="fromuserid" jdbcType="VARCHAR" />
    <result column="creatTime" property="creattime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.suixiang.pojo.Comment" extends="BaseResultMap" >
    <result column="comment" property="comment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fCommentId, toUserId, visionId, fromUserId, creatTime
  </sql>
  <sql id="Blob_Column_List" >
    comment
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.suixiang.pojo.CommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.suixiang.pojo.CommentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from comment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.suixiang.pojo.CommentExample" >
    delete from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.suixiang.pojo.Comment" >
    insert into comment (id, fCommentId, toUserId, 
      visionId, fromUserId, creatTime, 
      comment)
    values (#{id,jdbcType=VARCHAR}, #{fcommentid,jdbcType=VARCHAR}, #{touserid,jdbcType=VARCHAR}, 
      #{visionid,jdbcType=VARCHAR}, #{fromuserid,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}, 
      #{comment,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suixiang.pojo.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fcommentid != null" >
        fCommentId,
      </if>
      <if test="touserid != null" >
        toUserId,
      </if>
      <if test="visionid != null" >
        visionId,
      </if>
      <if test="fromuserid != null" >
        fromUserId,
      </if>
      <if test="creattime != null" >
        creatTime,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fcommentid != null" >
        #{fcommentid,jdbcType=VARCHAR},
      </if>
      <if test="touserid != null" >
        #{touserid,jdbcType=VARCHAR},
      </if>
      <if test="visionid != null" >
        #{visionid,jdbcType=VARCHAR},
      </if>
      <if test="fromuserid != null" >
        #{fromuserid,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.suixiang.pojo.CommentExample" resultType="java.lang.Integer" >
    select count(*) from comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update comment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.fcommentid != null" >
        fCommentId = #{record.fcommentid,jdbcType=VARCHAR},
      </if>
      <if test="record.touserid != null" >
        toUserId = #{record.touserid,jdbcType=VARCHAR},
      </if>
      <if test="record.visionid != null" >
        visionId = #{record.visionid,jdbcType=VARCHAR},
      </if>
      <if test="record.fromuserid != null" >
        fromUserId = #{record.fromuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.creattime != null" >
        creatTime = #{record.creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update comment
    set id = #{record.id,jdbcType=VARCHAR},
      fCommentId = #{record.fcommentid,jdbcType=VARCHAR},
      toUserId = #{record.touserid,jdbcType=VARCHAR},
      visionId = #{record.visionid,jdbcType=VARCHAR},
      fromUserId = #{record.fromuserid,jdbcType=VARCHAR},
      creatTime = #{record.creattime,jdbcType=TIMESTAMP},
      comment = #{record.comment,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update comment
    set id = #{record.id,jdbcType=VARCHAR},
      fCommentId = #{record.fcommentid,jdbcType=VARCHAR},
      toUserId = #{record.touserid,jdbcType=VARCHAR},
      visionId = #{record.visionid,jdbcType=VARCHAR},
      fromUserId = #{record.fromuserid,jdbcType=VARCHAR},
      creatTime = #{record.creattime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.suixiang.pojo.Comment" >
    update comment
    <set >
      <if test="fcommentid != null" >
        fCommentId = #{fcommentid,jdbcType=VARCHAR},
      </if>
      <if test="touserid != null" >
        toUserId = #{touserid,jdbcType=VARCHAR},
      </if>
      <if test="visionid != null" >
        visionId = #{visionid,jdbcType=VARCHAR},
      </if>
      <if test="fromuserid != null" >
        fromUserId = #{fromuserid,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        creatTime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.suixiang.pojo.Comment" >
    update comment
    set fCommentId = #{fcommentid,jdbcType=VARCHAR},
      toUserId = #{touserid,jdbcType=VARCHAR},
      visionId = #{visionid,jdbcType=VARCHAR},
      fromUserId = #{fromuserid,jdbcType=VARCHAR},
      creatTime = #{creattime,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suixiang.pojo.Comment" >
    update comment
    set fCommentId = #{fcommentid,jdbcType=VARCHAR},
      toUserId = #{touserid,jdbcType=VARCHAR},
      visionId = #{visionid,jdbcType=VARCHAR},
      fromUserId = #{fromuserid,jdbcType=VARCHAR},
      creatTime = #{creattime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>