<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suixiang.mapper.ReportNodesMapper" >
  <resultMap id="BaseResultMap" type="com.suixiang.pojo.ReportNodes" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="reportUserId" property="reportuserid" jdbcType="VARCHAR" />
    <result column="reportVisionId" property="reportvisionid" jdbcType="VARCHAR" />
    <result column="reportTitle" property="reporttitle" jdbcType="VARCHAR" />
    <result column="reportContent" property="reportcontent" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="creatTime" property="creattime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>